@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background-color: #222;
  color: #ddd;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

/* */

body {
  font: 16px "Cousine", monospace;
}

table {
  width: 100%;
  font: 14px "Cousine", monospace;
  background-color: transparent;
  table-layout: fixed;
  display: inline-table;
  white-space: pre-wrap;
  word-break: break-word;
  tab-size: 4;
}

.table-head {
  width: 32.5%;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px dashed #d5d3d3;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.table-wrapper {
  float: left;
  padding: 17px 5px 0 5px;
  width: 32.5%;
  border-right: 1px solid #e4e4e4;
}

td.line-html,
td.line-html-diff {
  padding: 5px 0 5px 0;
}

td:hover {
  background-color:blue;
  color: white;
}

ins {
  background: #eaf2c2;
  color: #406619;
  text-decoration: none;
}

del {
  text-decoration: none;
  color: #b30000;
  background: #fadad7;
}

.sticky {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1); /*#ffffffd1;*/
  /*box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.09);*/
  padding: 4px 0 4px 0;
}

/* stops jump that happens when .sticky removes an element from the document flow */
.table-prevent-jump {
  margin-top: 77px;
}

#bottom-scroll-filler {
  width: 100%;
  height: 100vh;
  clear: both;
  line-height: 100vh;
  text-align: center;
}

#no-panels-selected {
  position: relative;
  top: -26%;
  font-size: 19px;
  color: #f00;
}

#raw-status,
#rendered-status,
#diff-status {
  margin-top: 50px;
  text-align: center;
}

.error {
  color: #f00;
}

.label-fetch-as {
  float: right;
  user-select: none;
  font-size: 12px;
  font-weight: 400;
  margin-right: 15px;
}

.column-info {
  margin: 15px 0 11px 0;
  font-size: 12px;
  font-weight: 400;
}

button {
  float: right;
  background: none;
  outline: none;
  font-family: "Cousine", monospace;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  border: 1px solid #555;
}

button:hover {
  background: #f9f9f9;
}

#top {
  padding: 16px;
  border-bottom: 2px solid #555;
}

#logo {
  width: 19%;
  display: inline-block;
  vertical-align: top;
}

#current-url {
  width: 42%;
  height: 70px;
  display: inline-block;
  overflow-y: hidden;
  overflow-wrap: break-word;
}

.current-url-show {
  overflow-y: visible !important;
}

#right {
  display: inline-block;
  width: 36%;
  vertical-align: top;
  text-align: right;
}

#theme-switcher {
  margin-top: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 28px;
}

/*
.switch input {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e8e8e8;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 1px;
	bottom: 3px;
	background-color: white;
	transition: 0.2s;
}

input:checked + .slider {
	background-color: #4a4a4a;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	transform: translateX(55px);
}

input:checked+ .slider .on {
	display: block;
}

input:checked + .slider .off {
	display: none;
}

.on, .off {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	font-size: 10px;
	user-select: none;
}

.on {
	display: none;
	left: 40%;
	color: #fff;
}

.off {
	left: 61%;
	color: #000;
}

*/

#back-to-top {
  display: none;
  position: fixed;
  bottom: 33px;
  right: 87px;
  width: 38px;
  cursor: pointer;
  user-select: none;
  opacity: 0.7;
  font-size: 13px;
  text-align: center;
}

#back-to-top:hover {
  opacity: 1;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

thead {
  white-space: normal;
}

#active-tables {
  user-select: none;
  width: 49%;
  display: inline-block;
}

#bugs-comments {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  user-select: none;
  background: #ececec;
  font-family: sans-serif;
  font-size: 17px;
  color: #383838;
  border-radius: 15px;
  font-style: italic;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 478px;
  cursor: default;
  background-color: #ececec;
  color: #353535;
  text-align: center;
  border-radius: 5px;
  padding: 11px;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: -239px;
  transition: opacity 0.3s;
  font: 13px "Cousine", monospace;
  font-style: normal;
  border: 2px solid #555;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -26px;
  left: 235px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
